.vscode/**
.vscode-test/**
.nyc_output/**
coverage/**
out/**
out/test/**
test/**
test-resources/**
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules
.gitignore
sample/
t:unit
tatus
.yarnrc
vsc-extension-quickstart.md
**/eslint.config.mjs
