services:
  container:
    image: hubioinfows/base_env:latest
    environment:
      - DISABLE_AUTH=true
      - GITHUB_PAT=${GITHUB_PAT}
      - CACHE_DIR=${CACHE_DIR}
      - PROJ_DIR=${PROJ_DIR}
    volumes:
      - ../projects:/home/user/proj
      - ../../cache:/home/user/cache
    env_file:
      - ../../.env
    command: sleep infinity