services:
  container:
    image: hubioinfows/base_env:latest
    container_name: bioinfo-launcher-container
    environment:
      - DISABLE_AUTH=true
      - CACHE_DIR=/home/user/cache
      - PROJ_DIR=/home/user/proj
      - GITHUB_PAT={{GITHUB_PAT}}
    volumes:
      - ../projects:/home/user/proj
      - ../../cache:/home/user/cache
      - .:/home/user/.devcontainer
    command: sleep infinity