#' サンプル関数
#'
#' @param x 入力値
#' @return 入力値の2倍
#' @export
sample_function <- function(x) {
  return(x * 2)
}

#' データ読み込み関数
#'
#' @param file_path ファイルパス
#' @return 読み込んだデータフレーム
#' @export
read_data <- function(file_path) {
  data <- read.csv(file_path)
  return(data)
} 